.ivu__icon {
    .ivu-icon {
        font-size: 16px !important;
    }
}

.ivu_icon {
    .ivu-icon {
        line-height: inherit !important;
        position: absolute !important;
        right: 13px !important;
    }
}

//普通方式登录
.form-common {
    .ivu-form-item {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    .ivu-form-item-content {
        margin-left: 0 !important;
    }
    .ivu-input-suffix {
        z-index: 3 !important;
    }
    .ivu-btn-warning {
        color: #222;
        background-color: #FFCC00;
        border-color: #FFCC00;
        width: 270px;
        font-weight: 600;
    }
}

.ivu__page {
    .ivu-page {
        text-align: center !important;
        margin-top: 40px !important;
    }
}

.ivu-rate_star {
    .ivu-rate-star {
        margin-right: 4px !important;
        font-size: 12px !important;
    }
    .ivu-rate-star-full:before {
        color: #FF9900 !important;
    }
}